* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "dancing script";
}

section {
    display: flex;
    min-height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #2D2424;
}

.container {
    border-radius: 10px;
    overflow: hidden;
    width: 400px;
    /* why do we used overflow for border_radius? */
}

.display {
    background-color: #E0C097;
    color: #5C3D2E;
    text-align: right;
    height: 100px;
    width: 100%;
    text-align: right;
    padding: 20px;
    font-size: 30px;
    position: relative;
}

.lastNumbers {
    font-size: 18px;
    opacity: 0.4;
}

.preNumber {
    font-size: 18px;
    position: absolute;
    text-align: left;
    opacity: 0.4;
}

.all-buttons {
    background-color: #5C3D2E;
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(4, 1fr);
    font-size: 30px;
}

.button {
    border: 0.5px solid #e0c0972f;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    /* color: #e85f29; */
    color: #E0C097;
}

.button:hover {
    background-color: #2d24242b;
}

.numberZero {
    grid-column: 1/3;
    /* How does it work exactly? */
}

.dot {
    font-size: 70px;
    padding-bottom: 40px;
    padding-left: 4px;
}

.equal {
    font-size: 55px;
    padding-bottom: 12px;
}

.addition {
    font-size: 50px;
    padding-bottom: 15px;
}

.subtraction {
    font-size: 50px;
    padding-bottom: 10px;
}